.about {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 40px;
  margin: 40px;
  background-color: #fede00;
}

@media (min-width: 576px) and (max-width: 767px) {
  .about {
    height: 80vh;
    width: fit-content;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about {
    height: 90vh;
    width: fit-content;
  }
}
