.about {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 40px;
  margin: 40px;
  background-color: #fede00;
}

.button {
  cursor: pointer;
  outline: none;
  border: 0;
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
  background: transparent;
  border: 1px solid black;
  transition: 0.2s ease-out;
}

.button.active,
.button:hover {
  background: black;
  color: white;
}

@media (min-width: 576px) and (max-width: 767px) {
  .about {
    height: 80vh;
    width: fit-content;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about {
    height: 90vh;
    width: fit-content;
  }
}
