.about {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 40px;
  margin: 40px;
  background-color: hsl(262 80% 50%);
}

@media (min-width: 320px) and (max-width: 767px) {
  .about {
    height: 60vh;
    width: 90%;
    padding: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about {
    height: 90vh;
    width: 90%;
    padding: 10px;
  }
}
